{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": 6,
                    "browsers": [
                        "last 3 versions",
                        "> 1% in DE",
                        "Chrome >= 20",
                        "Firefox >= 20",
                        "Safari >= 7",
                        "iOS >= 7",
                        "Explorer >= 9",
                        "ExplorerMobile >= 10",
                        "Edge >= 12"
                    ]
                }
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "add-module-exports",
        "dynamic-import-webpack"
    ],
    "env": {
        "production": {},
        "development": {
            "plugins": [
                "transform-class-properties",
                "transform-es2015-classes",
                [
                    "flow-runtime",
                    {
                        "assert": true,
                        "annotate": true
                    }
                ]
            ]
        }
    }
}
