// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-12T10:08:54+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-16T13:01:53+01:00


// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-12T09:29:40+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-16T13:01:53+01:00

@import './../../../scss/vars';

.a-text-footer {
    color: #666;
    font-family: $ff-first;
    font-style: normal;
    font-weight: $fw-semibold;
    font-size: $fs-small;
    line-height: $lh;
    word-wrap: break-word;
    text-align: left;
}
