// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-12T10:05:26+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-18T16:09:25+01:00

@import './../../../scss/vars';

.a-text-bold {
    color: $c-dark;
    text-align: left;
    font-family: $ff-first;
    font-style: normal;
    font-weight: $fw-bold;
    font-size: $fs-middle;
    line-height: $lh;
    word-wrap: break-word;
}
