// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-12T09:29:40+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-18T18:20:26+01:00

@import './../../../scss/vars';

.a-text-paragraph {
    color: $c-dark;
    font-family: $ff-first;
    font-style: normal;
    font-weight: $fw-regular;
    // font-size: $fs-base;
    font-size: 12px;
    line-height: $lh;
    word-wrap: break-word;
}
