// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-12T09:40:40+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-16T13:02:02+01:00

@import './../../../scss/vars';

// -intro
.a-text-intro {
    font-family: $ff-second;
	font-size: 20px;
	word-wrap: break-word;
    color: #a7a7a7;
	line-height: 1.3;
	font-weight: $fw-regular;
	text-align: center;
}
