// @Author: Michael Neumair <mBook>
// @Date:   2015-10-16T18:20:49+02:00
// @Email:  7q7w7e7r@gmail.com
// @Last modified by:   mBook
// @Last modified time: 2016-03-18T15:23:17+01:00



.a-image {
	max-width: 100%;
}


// -picture
.a-image-picture {
	width: auto;
}

// -center
.a-image-center {
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// -fullsize
.a-image-fullsize {
	width: 	100%;
}
