.a-text-paragraph {
    font-family: $ff-first;
    font-weight: $fw-regular;
    font-size: $fs-text;
    color: $fc-normal;

    &.option-white {
        color: #fff;
    }

    &.option-semibold {
        font-weight: $fw-semibold;
    }
}
