// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-19T16:36:02+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-26T17:38:23+01:00



.a-text-paragraph {
    font-family: $ff-first;
    font-weight: $fw-regular;
    font-size: $fs-text;
    color: $fc-normal;

    &.option-white {
        color: #fff;
    }

    &.option-semibold {
        font-weight: $fw-semibold;
    }
}
