<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="./css/main.css">
        <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->

        <!-- google font roboto -->
        <script type="text/javascript">
            WebFontConfig = {
                google: { families: [ 'Roboto:400,500,300,100:latin' ] }
            };
            (function() {
                var wf = document.createElement('script');
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
            })();
        </script>


    </head>
    <body>

        <!-- Add your site or application content here -->

		<!-- AHeadlinePage -->
		<h2 class="a-headline a-headline-page">This is a example</h2>
		<br>


        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
    </body>
</html>
