// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-12T09:05:38+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-16T12:57:52+01:00


// -page
.a-headline-page {
	font-size: 38px;
	font-weight: $fw-x-bold;
    font-family: $ff-first;
    font-style: normal;
    color: $c-black;
    line-height: 1.26;
    text-transform: uppercase;
    word-wrap: break-word;
}
