// @Author: Matthias Gohla <Matze>
// @Date:   2017-01-12T09:23:56+01:00
// @Email:  matze_lebt@gmx.de
// @Last modified by:   Matze
// @Last modified time: 2017-01-12T09:26:02+01:00


// -paragraph
.a-headline-paragraph {
    color:          $c-black;
	font-family:    $ff-first;
	font-style:     normal;
	font-weight:    $fw-bold;
	font-size:      $fs-middle;
	line-height:    $lh-flat;
	text-transform: uppercase;
	word-wrap:      break-word;
}
